.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    float: right;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    border-radius: 4px;
    padding: 0 10px;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }


.card {
    cursor: pointer;
}

.titleUrl {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.titleUrl:hover {
  color: black;
  text-decoration: none;
  background-color: rgb(224, 222, 222, 0.5);
}

.venUrl {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.venUrl:hover {
  color: black;
  text-decoration: none;
  background-color: rgb(224, 222, 222, 0.5);
}

#img-fix {
    width: 100%;
    height: 8vw;
    object-fit: cover;
}

.carousel-caption {
  background-color: rgb(19, 18, 18, 0.6);
  line-height: normal;
}

.jumbotron {
  padding: 2rem 2rem;
  background-image: url("../images/lp-watercolor-03.png");
  background-size: 70% 100%;
  background-position: right top;
  background-repeat: no-repeat;
}

hr {
  border: 1px grey;
}

#searchBtn {
  float: right;
}

div.resultsScroll {
  overflow: auto;
  white-space: nowrap;
}

div.resultsScroll div {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0 5px 20px 5px;
}

div.resultsScroll {
  overflow: auto;
  white-space: nowrap;
}

.card-results {
  width: 275px;
  /* height: 275px; */
}
.topEvRow{
  background-color: #e9ecef;
}
.weather{
  height: 400px;
}

#theater-ql{
  background-color: #ba141b;
  text-shadow: 0px 1px 3px #000000;
}
#music-ql{
  background-color: #f17101;
  text-shadow: 0px 1px 3px #000000;
}
#arts-ql{
  background-color: #fee937;
  text-shadow: 0px 1px 3px #000000;
}
#museums-ql{
  background-color: #62bf07;
  text-shadow: 0px 1px 3px #000000;
}
#sports-ql{
  background-color: #181be4;
  text-shadow: 0px 1px 3px #000000;
}
#dance-ql{
  background-color: #ee35df;
  text-shadow: 0px 1px 3px #000000;
}
.card-results .card-body {
  display: block;
  font-size: 65%;
}

div.resultsScroll div {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0 5px 20px 5px;
}

.card-size {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

/*  VIDEO PLAYER CONTAINER */
.vid-container {
  position: relative;
  padding-bottom: 52%;
  padding-top: 30px;
  height: 0;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*  VIDEOS PLAYLIST */
.vid-list-container {
  width: 92%;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 4%;
  padding-bottom: 20px;
}

.vid-list {
  width: 2300px;
  position: relative;
  top: 0;
  left: 0;
}

.vid-item {
  display: block;
  width: 148px;
  height: 148px;
  float: left;
  margin: 0;
  padding: 10px;
}

.thumb {
  /*position: relative;*/
  overflow: hidden;
  height: 84px;
}

.thumb img {
  width: 100%;
  position: relative;
  top: -13px;
}

.vid-item .desc {
  color: black;
  font-size: 10px;
  margin-top: 5px;
}

.vid-item:hover {
  background: #eee;
  cursor: pointer;
}

.arrows {
  position: relative;
  width: 100%;
}

.arrow-left {
  color: #fff;
  position: absolute;
  background: #777;
  padding: 15px;
  left: -25px;
  top: -130px;
  z-index: 99;
  cursor: pointer;
}

.arrow-right {
  color: #fff;
  position: absolute;
  background: #777;
  padding: 15px;
  right: -25px;
  top: -130px;
  z-index: 100;
  cursor: pointer;
}

.arrow-left:hover {
  background: #cc181e;
}

.arrow-right:hover {
  background: #cc181e;
}

.card-img-overlay * {
    text-align: left;
    white-space: normal;
}

html {
    position: relative;
    min-height: 100%;
}
/* weather */
#temp{
  font-size: 65px;
  font-weight: bold;
}
/* end of weather*/
.carImg{
  height: 400px;
}
body {
    margin-bottom: 70px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #e9ecef;
}

@media (max-width: 624px) {
  .vid-list-container {
    padding-bottom: 20px;
  }

  /* reposition left/right arrows */
  .arrows {
    position: relative;
    margin: 0 auto;
    width: 96px;
  }
  .arrow-left {
    left: 0;
    top: -17px;
  }

  .arrow-right {
    right: 0;
    top: -17px;
  }
}

@media (max-width: 992px) {
    #img-fix {
        height: 300px;
    
    }
   
}

@media (max-width: 576px) {
    #img-fix {
        height: 300px;
    }
    .searchbar{
      max-width: 375px;
    }
    
}