.quick-link-card {
    cursor: pointer;
}

.titleUrl {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.titleUrl:hover {
    color: black;
    text-decoration: none;
    background-color: rgb(224, 222, 222, 0.5);
}

.venUrl {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.venUrl:hover {
    color: black;
    text-decoration: none;
    background-color: rgb(224, 222, 222, 0.5)
}

.carousel-caption {
    background-color: rgb(19, 18, 18, 0.6);
    line-height: normal;
}

;

.jumbotron {
    padding: 2rem 2rem;
}

hr {
    border: 1px dashed black;
}

#searchBtn {
    float: right;
}

div.resultsScroll {
    overflow: auto;
    white-space: nowrap;
  }
  
  div.resultsScroll div {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin:0 5px 20px 5px;
  }